.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 100px 50px 100px;
    text-align: center;
    border: 2px solid #FFA114;
    border-radius: 5px;
    padding: 20px;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFA114;
    border: 2px solid #f8f9fa;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

h1 {
    color: green;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}