* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

.filter-options {
    width: 100%;
    max-width: 1172px;
    display: flex;
    justify-content: flex-end;
    margin: 2vw 0;
}

.filter-options select {
    padding: 0.5vw;
    font-size: 1.5vw;
    border: 4px solid #FFA114;
    border-radius: 10px;
    background: #F8E2A1;
    color: black;
    margin-right: 7vw;
}

.filter-options button {
    padding: 0.5vw 1vw;
    font-size: 1.5vw;
    border: none;
    border-radius: 10px;
    background-color: #FFA114;
    color: #FDF3C0;
    cursor: pointer;
}

.filter-options button:hover {
    background-color: #e59400;
}

.container {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #FDF3C0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 4vw;
    color: #FFA114;
    margin: 2vw 0;
    text-align: center;
}

.donation-box {
    width: 80%;
    max-width: 1172px;
    min-height: 30vh;
    background: rgba(217, 217, 217, 0);
    border: 5px solid #FFA114;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2vw;
    margin: 2vw 0;
    background-color: #F8E2A1;
}

.circle {
    width: 15vw;
    max-width: 210px;
    height: 15vw;
    max-height: 210px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFA114;
}

.circle p {
    color: black;
    font-size: 2vw;
    text-align: center;
}

.donation-details {
    color: black;
    font-size: 2vw;
    text-align: left;
}

@media (max-width: 768px) {
    .title {
        font-size: 6vw;
    }

    .circle, .donation-details {
        font-size: 3.5vw;
    }

    .donation-box {
        flex-direction: column;
        text-align: center;
    }
}