.boxes{
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    text-align: center;
}


.box{
    width: 80%;
    background-color: #F8E2A1;
    padding: 2rem 2rem;
    border: 1px solid #FFA114;
    border-radius: 16px;
    max-width: 450px;
    
}   

.box-title{
    color:#FFA114;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 1rem;
}



